.profile-page {
  width: $content-width;

  @include respond(mobile-m) {
    padding-bottom: 20px;
  }

  &__header {
  }

  &__action {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @include respond(mobile-lg) {
      text-align: center;
      align-items: center;
      justify-content: center;
      .btn--primary {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }

  &__main {
    position: relative;
    display: flex;
    width: 100%;
    padding: 40px 20px 20px 20px;
    align-items: flex-start;
    @include respond(mobile-lg) {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;

    @include respond(mobile-lg) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  &__text {
    display: block;
    font-family: $font-regular;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
    color: $secondary-color-text-light;
    line-height: 1.4;

    @include respond(tab-port) {
      font-size: 15px;
    }
  }

  &__others {
    margin-top: 10px;
    font-weight: 500;
    font-family: $font-regular;

    & .link {
      text-decoration: none;
      color: $secondary-color-text;

      @include respond(mobile-lg) {
        font-size: 14px;
      }
    }
  }

  &__counter {
    display: flex;
    list-style: none;
    padding: 14px 0 20px 0;

    @include respond(tab-port) {
      justify-content: space-between;
      padding: 15px 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.04);
      border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    }

    @include respond(mobile-lg) {
      padding: 10px 15px;
    }
    li {
      display: flex;
      font-weight: 600;
      font-size: 18px;
      align-items: center;
      &:not(:last-child) {
        margin-right: 20px;
      }

      @include respond(mobile-lg) {
        font-size: 14px;
      }
    }

    div {
      margin-right: 5px;
      color: rgba($secondary-color-text, 0.8);
    }

    p {
      font-size: 16px;
      font-weight: 500;
      color: $secondary-color-text-light;

      @include respond(mobile-lg) {
        font-size: 14px;
      }
    }
  }
}
