.input {
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;

  &--primary {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $input-background-color;
    width: 450px;
    overflow: hidden;
    border-radius: 100px;
    color: $input-placeholder-color;
    padding-left: 35px;
    font-size: 17px;
    &__field {
      padding: 9px 18px;
      color: $secondary-color-text;
    }

    &::placeholder {
      color: $input-placeholder-color;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      svg {
        fill: $input-placeholder-color;
        height: 24px;
        width: 24px;
      }
    }
  }

  &--comment {
    display: flex;
    background-color: $input-background-color;
    align-items: center;
    padding: 3px 10px;
    border-radius: 10px;

    .profile-image {
      height: 35px;
      width: 35px;
      min-width: 35px;

      &__main {
        height: 100%;
        width: 100%;
        min-width: 100%;
      }
    }

    input {
      flex: 1;
      padding: 12px 14px;
      font-size: 14px;
      font-family: $font-regular;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      min-width: 35px;
      border-radius: 100%;
      background-color: $secondary-color-darker;
      svg {
        fill: $secondary-color-text;
        height: 20px;
        width: 20px;
      }

      &:hover {
        background: $primary-color !important;

        svg {
          fill: $secondary-color;
        }
      }
    }
  }

  &--secondary {
    background-color: $input-background-color;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 150px;
    padding: 9px 18px;
    color: $secondary-color-text;
    border-radius: 5px;

    &::placeholder {
      color: $input-placeholder-color;
    }
  }
}
