.card {
  &--stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 80px;

    &__username {
      font-family: $font-regular;
      margin-top: 12px;
      font-size: 13px;
      font-weight: 400;
      color: $secondary-color-text-light;
    }
  }

  &--feed {
    background-color: $secondary-color;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid rgba($secondary-color-text, 0.08);
    &__header {
      display: flex;
      align-items: center;
      padding-left: 5px;
    }

    &__user {
      display: flex;
      align-items: center;

      & .profile-image {
        margin-right: 10px;
      }
    }

    &__place {
      display: flex;
      margin-right: -8px;
      p {
        font-size: 13px;
        width: 80%;
        text-align: right;
        color: $secondary-color-text-light;
        margin-right: 10px;
      }
    }

    &__main {
      display: flex;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 15px;
      height: 420px;
      user-select: none;
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      padding: 14px 0 0 0;
    }

    &__caption {
      font-size: 14px;
      width: 75%;
    }

    &__count-buttons {
      margin-left: auto;
      display: flex;
    }
  }

  &--post {
    position: relative;
    display: flex;
    width: 100%;
    height: 340px;
    overflow: hidden;
    border-radius: 10px;

    .video &__icon-play {
      display: block;
    }

    &:after {
      position: absolute;
      display: block;
      content: "";
      height: 100%;
      width: 100%;
      z-index: 2;
      background-image: linear-gradient(
        to bottom,
        rgba(#000, 0),
        rgba(#000, 0.3)
      );
    }

    &__image {
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 1;
      user-select: none;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__caption {
      display: flex;
      position: absolute;

      justify-content: space-between;
      flex-direction: column;
      padding: 10px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      cursor: pointer;
    }

    &__caption:hover &__caption-footer p {
      color: $secondary-color;
    }

    &__caption-header {
      display: flex;
      justify-content: flex-end;
    }

    &__icon-play {
      display: none;
      svg {
        height: 35px;
        width: 35px;
        fill: $secondary-color;
      }
    }

    &__caption-footer {
      p {
        color: $secondary-color-darker;
        font-size: 15px;
        margin-bottom: 10px;
        @include transition;
      }

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        li {
          display: flex;
          align-items: center;

          color: $secondary-color;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }

        div {
          font-family: $font-regular;
          margin-left: 3px;
        }

        svg {
          height: 25px;
          width: 25px;
        }

        .outlined svg {
          stroke: $secondary-color !important ;
        }

        .filled svg {
          fill: $secondary-color !important;
        }
      }
    }
  }

  &--comment {
    display: flex;

    .profile-image {
      height: 35px;
      width: 35px;
      min-width: 35px;

      &__main {
        height: 100%;
        width: 100%;
        min-width: 100%;
      }
    }

    &__main {
      background-color: lighten($secondary-color-darker, 15%);
      padding: 12px;
      margin-left: 10px;
      border-radius: 10px;
    }

    &__user {
      font-size: 14px;
      color: $secondary-color-text;
      font-weight: 500;
      text-decoration: none;
      margin-right: 20px;
    }

    &__time {
      font-family: $font-regular;
      font-size: 12px;
      font-weight: 300;
      color: $secondary-color-text-light;
    }

    &__text {
      font-size: 13px;
      margin-top: 12px;
      color: $secondary-color-text-light;
    }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__action {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      button {
        display: flex;
        align-items: center;
        padding: 3px 4px;
        border-radius: 3px;
        svg {
          height: 14px;
          width: 14px;
          stroke: $secondary-color-text-light;
        }

        span {
          margin-left: 4px;
          font-size: 12px;
        }

        &:hover {
          color: $primary-color;
          svg {
            fill: $primary-color;
            stroke: $primary-color !important;
          }
        }
      }
    }
  }
}
