.page-container {
  display: flex;
  min-height: calc(100vh - #{$navbar-height});
}

.feed-container {
  display: block;
  // width: $content-width;
  flex: 1;
  padding: 0 10px;

  &--main {
    background-color: $base-color;
    padding: 10px 20px;
    // border-radius: 20px;
    border: $border-separation;

    @include respond(mobile-lg) {
      padding: 5px 14px;
    }

    @include respond(mobile-m) {
      padding: 5px 10px 60px 10px;
    }
  }
}

.sidebar-container {
  @include sidebar-size;
}

.container {
  margin: 0 auto;
  width: 1260px;
  max-width: 1264px;

  @include respond(desktop) {
    width: 70%;
  }

  @include respond(laptop) {
    width: 90%;
  }

  @include respond(tab-land) {
    width: 100%;
    // padding: 0 10px;
  }
}

.mb-col {
  margin-bottom: 30px;

  @include respond(mobile-lg) {
    margin-bottom: 20px;
  }
  @include respond(mobile-m) {
    margin-bottom: 15px;
  }
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 20px;

  @include respond(mobile-lg) {
    margin-left: 0;
    margin-right: 0;
  }
}
.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;

  @include respond(mobile-lg) {
    padding: 0 0.6rem;
  }
  @include respond(mobile-m) {
    padding: 0 0.4rem;
  }
}
