.page-container {
  display: flex;
  min-height: calc(100vh - #{$navbar-height});
}

.feed-container {
  display: block;
  width: $content-width;
  // margin-left: auto;
  padding: 0 10px;

  &--main {
    background-color: $base-color;
    padding: 10px 20px;
    // border-radius: 20px;
    border: $border-separation;
  }
}

.sidebar-container {
  width: $sidebar-width;
}
