.navbar {
  @include navbar-size;
  &__inner {
    position: fixed;
    width: 100%;
    @include navbar-size;
    background-color: $secondary-color;
    z-index: 100;
  }

  & .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  & .feed-container {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: $border-separation;
  }

  &__brand {
    display: flex;
    height: 45px;
    img {
      height: 100%;
    }

    @include respond(laptop) {
      height: 40px;
    }
    @include respond(mobile-lg) {
      display: none;
    }
  }



  &__brand-small {
    display: none;
    img {
      height: 100%;
    }
    @include respond(mobile-lg) {
      display: flex;
      height: 45px;
    }
  }
}
