.sidebar {
  @include sidebar-size;
  &__inner {
    position: fixed;
    // left: 0;
    padding: 20px 20px 20px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include sidebar-size;
    height: 100vh;
    max-height: calc(100vh - #{$navbar-height});

    @include respond(laptop) {
      padding-right: 10px;
    }
    @include respond(tab-land) {
      left: 0;
    }
    @include respond(mobile-lg) {
      padding: 8px 5px;
    }
  }

  &__profile {
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include respond(laptop) {
      justify-content: center;
      padding-left: 0;

      .profile-image__main img {
        margin-left: 0;
      }
    }

    & .profile {
      margin-left: 15px;

      @include respond(laptop) {
        display: none;
      }
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    font-family: $font-regular;
    margin-top: 25px;

    li {
      text-align: center;
      padding: 0 10px;
      width: 30%;
      div {
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 18px;
      }

      p {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        color: $secondary-color-text-light;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__link {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    list-style: none;
    margin-top: 40px;
    height: 100%;
    width: 100%;

    @include respond(mobile-lg) {
      margin-top: 30px;
    }
  }

  &__link-item {
    display: block;
    width: 100%;
    border-radius: 100px;

    &:hover {
      background-color: #eeeeee;
    }

    a {
      display: flex;
      text-decoration: none;
      align-items: center;
      padding: 9px 12px;

      @include respond(laptop) {
        justify-content: center;
      }
      @include respond(mobile-lg) {
        padding: 8px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-top: auto;
    }
  }

  &__link-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 32px;
    svg {
      height: 30px;
      width: 30px;
    }

    a {
      display: inline;
    }

    @include respond(laptop) {
      margin-right: 0;
      svg {
        transform: scale(1.2);
      }
    }
    @include respond(tab-land) {
      svg {
        transform: scale(1.1);
      }
    }
    @include respond(mobile-lg) {
      svg {
        transform: scale(1);
      }
    }
  }

  &__link-title {
    font-size: 18px;
    font-weight: 600;
    color: $secondary-color-text-light;

    @include respond(laptop) {
      display: none;
    }
  }

  &--active {
    background-color: $primary-color-subtle !important;

    a {
      color: $primary-color !important;
    }
  }

  &--active &__link-icon {
    svg {
      stroke: $primary-color !important;
      fill: $primary-color !important;
    }
  }
}
