.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 80px);
}

.feed-container {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
}

.feed-container--main {
  background-color: #fdfdfd;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 37.5625em) {
  .feed-container--main {
    padding: 5px 14px;
  }
}

@media (max-width: 23.4375em) {
  .feed-container--main {
    padding: 5px 10px 60px 10px;
  }
}

.sidebar-container {
  width: 320px;
  min-width: 320px;
}

@media (max-width: 79em) {
  .sidebar-container {
    width: 100px;
    min-width: 100px;
  }
}

@media (max-width: 56.25em) {
  .sidebar-container {
    padding-left: 10px;
    width: 90px;
    min-width: 90px;
  }
}

@media (max-width: 37.5625em) {
  .sidebar-container {
    padding-left: 6px;
    width: 70px;
    min-width: 70px;
  }
}

.container {
  margin: 0 auto;
  width: 1260px;
  max-width: 1264px;
}

@media (max-width: 119em) {
  .container {
    width: 70%;
  }
}

@media (max-width: 79em) {
  .container {
    width: 90%;
  }
}

@media (max-width: 56.25em) {
  .container {
    width: 100%;
  }
}

.mb-col {
  margin-bottom: 30px;
}

@media (max-width: 37.5625em) {
  .mb-col {
    margin-bottom: 20px;
  }
}

@media (max-width: 23.4375em) {
  .mb-col {
    margin-bottom: 15px;
  }
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 20px;
}

@media (max-width: 37.5625em) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

@media (max-width: 37.5625em) {
  .row .col {
    padding: 0 0.6rem;
  }
}

@media (max-width: 23.4375em) {
  .row .col {
    padding: 0 0.4rem;
  }
}

.navbar {
  height: 80px;
}

@media (max-width: 37.5625em) {
  .navbar {
    height: 70px;
  }
}

@media (max-width: 23.4375em) {
  .navbar {
    height: 60px;
  }
}

.navbar__inner {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 100;
}

@media (max-width: 37.5625em) {
  .navbar__inner {
    height: 70px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__inner {
    height: 60px;
  }
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar .feed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

.navbar__brand img {
  height: 100%;
}

@media (max-width: 79em) {
  .navbar__brand {
    height: 40px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__brand {
    display: none;
  }
}

.navbar__brand-small {
  display: none;
}

.navbar__brand-small img {
  height: 100%;
}

@media (max-width: 37.5625em) {
  .navbar__brand-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
  }
}

.sidebar {
  width: 320px;
  min-width: 320px;
}

@media (max-width: 79em) {
  .sidebar {
    width: 100px;
    min-width: 100px;
  }
}

@media (max-width: 56.25em) {
  .sidebar {
    padding-left: 10px;
    width: 90px;
    min-width: 90px;
  }
}

@media (max-width: 37.5625em) {
  .sidebar {
    padding-left: 6px;
    width: 70px;
    min-width: 70px;
  }
}

@media (max-width: 23.4375em) {
  .sidebar {
    position: absolute;
    width: 100%;
    height: 70px;
  }
}

.sidebar__inner {
  position: fixed;
  padding: 20px 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  min-width: 320px;
  height: 100vh;
  max-height: calc(100vh - 80px);
}

@media (max-width: 79em) {
  .sidebar__inner {
    width: 100px;
    min-width: 100px;
  }
}

@media (max-width: 56.25em) {
  .sidebar__inner {
    padding-left: 10px;
    width: 90px;
    min-width: 90px;
  }
}

@media (max-width: 37.5625em) {
  .sidebar__inner {
    padding-left: 6px;
    width: 70px;
    min-width: 70px;
  }
}

@media (max-width: 79em) {
  .sidebar__inner {
    padding-right: 10px;
  }
}

@media (max-width: 56.25em) {
  .sidebar__inner {
    left: 0;
  }
}

@media (max-width: 37.5625em) {
  .sidebar__inner {
    padding: 8px 5px;
  }
}

@media (max-width: 23.4375em) {
  .sidebar__inner {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 60px;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: white;
  }
}

.sidebar__profile {
  padding-left: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 79em) {
  .sidebar__profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .sidebar__profile .profile-image__main img {
    margin-left: 0;
  }
}

@media (max-width: 23.4375em) {
  .sidebar__profile {
    display: none;
  }
}

.sidebar__profile .profile {
  margin-left: 15px;
}

@media (max-width: 79em) {
  .sidebar__profile .profile {
    display: none;
  }
}

.sidebar__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}

.sidebar__count li {
  text-align: center;
  padding: 0 10px;
  width: 30%;
}

.sidebar__count li div {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

.sidebar__count li p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #5b5b5b;
}

.sidebar__count li:not(:last-child) {
  margin-right: 20px;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-top: 40px;
  height: 100%;
  width: 100%;
}

@media (max-width: 37.5625em) {
  .sidebar__link {
    margin-top: 30px;
  }
}

@media (max-width: 23.4375em) {
  .sidebar__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
  }
}

.sidebar__link-item {
  display: block;
  width: 100%;
  border-radius: 100px;
}

.sidebar__link-item:hover {
  background-color: #eeeeee;
}

.sidebar__link-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 12px;
}

@media (max-width: 79em) {
  .sidebar__link-item a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 37.5625em) {
  .sidebar__link-item a {
    padding: 8px;
  }
}

.sidebar__link-item:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 37.5625em) {
  .sidebar__link-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.sidebar__link-item:last-child {
  margin-top: auto;
}

.sidebar__link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 32px;
}

.sidebar__link-icon svg {
  height: 30px;
  width: 30px;
}

.sidebar__link-icon a {
  display: inline;
}

@media (max-width: 79em) {
  .sidebar__link-icon {
    margin-right: 0;
  }
  .sidebar__link-icon svg {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 56.25em) {
  .sidebar__link-icon svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 37.5625em) {
  .sidebar__link-icon svg {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sidebar__link-title {
  font-size: 18px;
  font-weight: 600;
  color: #5b5b5b;
}

@media (max-width: 79em) {
  .sidebar__link-title {
    display: none;
  }
}

.sidebar--active {
  background-color: #fff8e9 !important;
}

.sidebar--active a {
  color: #fdb813 !important;
}

.sidebar--active .sidebar__link-icon svg {
  stroke: #fdb813 !important;
  fill: #fdb813 !important;
}

.card--stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 80px;
}

@media (max-width: 56.25em) {
  .card--stories {
    width: 65px;
  }
}

@media (max-width: 37.5625em) {
  .card--stories {
    width: 50px;
  }
}

.card--stories__username {
  font-family: "Roboto", sans-serif;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #5b5b5b;
}

@media (max-width: 56.25em) {
  .card--stories__username {
    font-size: 11px;
  }
}

@media (max-width: 37.5625em) {
  .card--stories__username {
    display: none;
  }
}

.card--feed {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

@media (max-width: 37.5625em) {
  .card--feed .card--feed__place {
    display: none;
  }
}

.card--feed__header {
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5625em) {
  .card--feed__header {
    padding: 10px;
  }
}

@media (max-width: 23.4375em) {
  .card--feed__header {
    padding: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.card--feed__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--feed__user .profile-image {
  margin-right: 10px;
}

.card--feed__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -8px;
}

@media (max-width: 37.5625em) {
  .card--feed__place {
    margin-right: 0;
  }
}

.card--feed__place p {
  font-size: 13px;
  width: 80%;
  text-align: right;
  color: #5b5b5b;
  margin-right: 10px;
}

@media (max-width: 37.5625em) {
  .card--feed__place p {
    font-size: 12px;
    width: 100%;
  }
}

.card--feed__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 420px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.card--feed__main img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 48em) {
  .card--feed__main {
    height: 350px;
  }
}

@media (max-width: 37.5625em) {
  .card--feed__main {
    height: 280px;
  }
}

@media (max-width: 23.4375em) {
  .card--feed__main {
    height: 250px;
  }
}

.card--feed__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px;
}

@media (max-width: 37.5625em) {
  .card--feed__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 8px 10px;
  }
}

@media (max-width: 37.5625em) {
  .card--feed__footer {
    padding: 8px;
  }
}

.card--feed__caption {
  font-size: 14px;
  width: 75%;
}

@media (max-width: 37.5625em) {
  .card--feed__caption {
    display: none;
  }
}

.card--feed__count-buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 37.5625em) {
  .card--feed__count-buttons {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card--post {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 48em) {
  .card--post {
    height: 300px;
  }
}

@media (max-width: 37.5625em) {
  .card--post {
    height: 280px;
  }
}

@media (max-width: 23.4375em) {
  .card--post {
    height: 250px;
  }
}

.video .card--post__icon-play {
  display: block;
}

.card--post:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.card--post__image {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card--post__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card--post__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 48em) {
  .card--post__caption {
    font-size: 14px;
  }
}

@media (max-width: 37.5625em) {
  .card--post__caption {
    font-size: 12px;
  }
}

.card--post__caption:hover .card--post__caption-footer p {
  color: #fff;
}

.card--post__caption-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card--post__icon-play {
  display: none;
}

.card--post__icon-play svg {
  height: 35px;
  width: 35px;
  fill: #fff;
}

@media (max-width: 48em) {
  .card--post__icon-play svg {
    height: 30px;
    width: 30px;
  }
}

.card--post__caption-footer p {
  color: #d2d2d2;
  font-size: 15px;
  margin-bottom: 10px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

@media (max-width: 48em) {
  .card--post__caption-footer p {
    font-size: 14px;
  }
}

@media (max-width: 48em) {
  .card--post__caption-footer p {
    font-size: 12px;
  }
}

.card--post__caption-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.card--post__caption-footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.card--post__caption-footer ul li:not(:last-child) {
  margin-right: 10px;
}

.card--post__caption-footer ul div {
  font-family: "Roboto", sans-serif;
  margin-left: 3px;
}

@media (max-width: 37.5625em) {
  .card--post__caption-footer ul div {
    margin-left: 1px;
  }
}

.card--post__caption-footer ul svg {
  height: 25px;
  width: 25px;
}

@media (max-width: 48em) {
  .card--post__caption-footer ul svg {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 37.5625em) {
  .card--post__caption-footer ul svg {
    height: 16px;
    width: 16px;
  }
}

.card--post__caption-footer ul .outlined svg {
  stroke: #fff !important;
}

.card--post__caption-footer ul .filled svg {
  fill: #fff !important;
}

.card--comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card--comment .profile-image {
  height: 35px;
  width: 35px;
  min-width: 35px;
}

.card--comment .profile-image__main {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

.card--comment__main {
  background-color: #f8f8f8;
  padding: 12px;
  margin-left: 10px;
  border-radius: 10px;
}

.card--comment__user {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
}

.card--comment__time {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #5b5b5b;
}

.card--comment__text {
  font-size: 13px;
  margin-top: 12px;
  color: #5b5b5b;
}

.card--comment__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card--comment__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.card--comment__action button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 4px;
  border-radius: 3px;
}

.card--comment__action button svg {
  height: 14px;
  width: 14px;
  stroke: #5b5b5b;
}

.card--comment__action button span {
  margin-left: 4px;
  font-size: 12px;
}

.card--comment__action button:hover {
  color: #fdb813;
}

.card--comment__action button:hover svg {
  fill: #fdb813;
  stroke: #fdb813 !important;
}

.card--notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000000;
  background-color: #fdfdfd;
  padding: 15px 20px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

@media (max-width: 56.25em) {
  .card--notification {
    padding: 12px 15px;
  }
}

@media (max-width: 23.4375em) {
  .card--notification {
    padding: 10px 12px;
  }
}

.card--notification:hover {
  background-color: rgba(255, 248, 233, 0.8);
}

.card--notification__content {
  margin-left: 20px;
}

@media (max-width: 23.4375em) {
  .card--notification__content {
    margin-left: 15px;
  }
}

.card--notification__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.card--notification__name {
  font-weight: bold;
}

@media (max-width: 56.25em) {
  .card--notification__name {
    font-size: 15px;
  }
}

@media (max-width: 23.4375em) {
  .card--notification__name {
    font-size: 13px;
  }
}

.card--notification__time {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #5b5b5b;
}

@media (max-width: 37.5625em) {
  .card--notification__time {
    font-size: 12px;
  }
}

.card--notification__text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #5b5b5b;
}

@media (max-width: 56.25em) {
  .card--notification__text {
    font-size: 15px;
  }
}

@media (max-width: 37.5625em) {
  .card--notification__text {
    font-size: 14px;
  }
}

@media (max-width: 23.4375em) {
  .card--notification__text {
    font-size: 12px;
  }
}

.profile-image {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profile-image--xsmall {
  height: 50px;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

@media (max-width: 37.5625em) {
  .profile-image--xsmall {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
  }
}

@media (max-width: 37.5625em) {
  .profile-image--xsmall {
    height: 35px;
    min-height: 35px;
    width: 35px;
    min-width: 35px;
  }
}

.profile-image--small {
  height: 60px;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

@media (max-width: 56.25em) {
  .profile-image--small {
    height: 50px;
    min-height: 50px;
    width: 50px;
    min-width: 50px;
  }
}

@media (max-width: 37.5625em) {
  .profile-image--small {
    height: 45px;
    min-height: 45px;
    width: 45px;
    min-width: 45px;
  }
}

.profile-image--medium {
  height: 70px;
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}

@media (max-width: 56.25em) {
  .profile-image--medium {
    height: 60px;
    min-height: 60px;
    width: 60px;
    min-width: 60px;
  }
}

@media (max-width: 37.5625em) {
  .profile-image--medium {
    height: 55px;
    min-height: 55px;
    width: 55px;
    min-width: 55px;
  }
}

.profile-image--large {
  height: 160px;
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

@media (max-width: 37.5625em) {
  .profile-image--large {
    height: 150px;
    min-height: 150px;
    width: 150px;
    min-width: 150px;
  }
}

.profile-image__main {
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  height: 105%;
  width: 105%;
  min-width: 105%;
}

.profile-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.profile-image::before {
  z-index: 0;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  border: 2px solid #fdb813;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 100%;
}

.profile-image--active::before {
  content: "";
}

.profile-image--active .profile-image__main {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  height: 600px;
  width: 500px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 5px;
}

@media (max-width: 56.25em) {
  .notification {
    height: 500px;
    width: 450px;
  }
}

@media (max-width: 37.5625em) {
  .notification {
    height: 480px;
    width: 400px;
  }
}

@media (max-width: 37.5625em) {
  .notification {
    width: 90vw;
    height: 500px;
  }
}

.notification__header {
  padding: 20px;
}

@media (max-width: 56.25em) {
  .notification__header {
    padding: 20px 15px;
  }
}

@media (max-width: 56.25em) {
  .notification__header {
    font-size: 14px;
  }
}

.notification__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: auto;
}

section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

section--feeds {
  padding-top: 0 !important;
}

@media (max-width: 37.5625em) {
  section {
    padding: 5px 0 !important;
  }
}

.modal {
  position: relative;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.modal--post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  width: 1200px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 56.25em) {
  .modal--post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
}

.modal--post__image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 56.25em) {
  .modal--post__image {
    height: 40vh;
    overflow: hidden;
  }
}

.modal--post__image .blur {
  display: block;
  position: absolute;
  height: 120%;
  width: 120%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(8px) grayscale(5%);
          filter: blur(8px) grayscale(5%);
}

@media (max-width: 56.25em) {
  .modal--post__image .blur {
    height: 100%;
  }
}

.modal--post__image .main {
  position: relative;
  display: block;
  height: 100%;
  z-index: 2;
  margin: 0 auto;
}

.modal--post__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 680px;
  padding: 15px;
}

@media (max-width: 56.25em) {
  .modal--post__main {
    width: 100%;
    overflow: auto;
  }
}

.modal--post__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal--post__name {
  margin-left: 10px;
}

.modal--post__name a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.modal--post__name div {
  font-family: "Roboto", sans-serif;
  color: #5b5b5b;
  margin-top: 1px;
  font-size: 12px;
}

.modal--post__content {
  display: block;
  margin-top: 15px;
}

.modal--post__content .card--feed__place p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fdb813;
  font-size: 15px;
  text-align: left;
}

.modal--post__content .icon {
  margin-right: 10px;
}

.modal--post__content .icon--place {
  height: 20px;
  width: 20px;
  min-width: 20px;
}

.modal--post__content .icon--place svg {
  height: 14px;
  width: 15px;
}

.modal--post__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #5b5b5b;
  line-height: 1.4;
  margin-top: 8px;
}

.modal--post__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 10px 0 0 0;
}

.modal--post__comment ul {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: auto;
  max-height: 280px;
  margin-bottom: 10px;
}

.modal--post__comment ul li:not(:last-child) {
  margin-bottom: 14px;
}

.modal--post__comment-action {
  margin-top: auto;
}

.modal--post__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 5px 5px 10px 5px;
}

.modal--post__counter li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  cursor: pointer;
}

.modal--post__counter li:hover svg {
  fill: #fdb813;
}

.modal--post__counter li span svg {
  fill: #a3a3a3;
  height: 22px;
  width: 22px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.modal--post__counter li div {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 500;
}

.modal--create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 600px;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 37.5625em) {
  .modal--create {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.modal--create__header {
  padding: 20px;
}

.modal--create__content {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-height: 450px;
  padding-bottom: 10px;
  overflow: auto;
}

@media (max-width: 23.4375em) {
  .modal--create__content {
    padding: 0 15px;
  }
}

.modal--create__media {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.modal--create__media img,
.modal--create__media video {
  width: 100%;
}

.modal--create__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 37.5625em) {
  .modal--create__actions {
    height: 70px;
  }
}

.modal__exit {
  position: absolute !important;
  right: 10px;
  top: 20px;
  z-index: 10;
}

.modal__exit span svg {
  fill: #5b5b5b !important;
  height: 25px;
  width: 25px;
}

.backdrop {
  display: none;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.backdrop--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  list-style: none;
}

.list--stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.list--stories li {
  padding: 5px 0;
}

.list--stories li:not(:last-child) {
  display: block;
  margin-right: 20px;
}

.list--feeds li:not(:last-child) {
  margin-bottom: 20px;
}

.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff !important;
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 100%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 -10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 -10px 20px rgba(0, 0, 0, 0.05);
  color: #fdb813 !important;
  font-size: 20px !important;
  right: 0;
}

.owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff !important;
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 100%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 -10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 -10px 20px rgba(0, 0, 0, 0.05);
  color: #fdb813 !important;
  font-size: 20px !important;
  left: 0;
}

.profile-page {
  width: 750px;
}

@media (max-width: 23.4375em) {
  .profile-page {
    padding-bottom: 20px;
  }
}

.profile-page__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media (max-width: 37.5625em) {
  .profile-page__action {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile-page__action .btn--primary {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.profile-page__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 20px 20px 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 37.5625em) {
  .profile-page__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
}

.profile-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
}

@media (max-width: 37.5625em) {
  .profile-page__content {
    margin-left: 0;
    margin-top: 20px;
  }
}

.profile-page__text {
  display: block;
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
  color: #5b5b5b;
  line-height: 1.4;
}

@media (max-width: 48em) {
  .profile-page__text {
    font-size: 15px;
  }
}

.profile-page__others {
  margin-top: 10px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.profile-page__others .link {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 37.5625em) {
  .profile-page__others .link {
    font-size: 14px;
  }
}

.profile-page__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 14px 0 20px 0;
}

@media (max-width: 48em) {
  .profile-page__counter {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }
}

@media (max-width: 37.5625em) {
  .profile-page__counter {
    padding: 10px 15px;
  }
}

.profile-page__counter li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page__counter li:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 37.5625em) {
  .profile-page__counter li {
    font-size: 14px;
  }
}

.profile-page__counter div {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.profile-page__counter p {
  font-size: 16px;
  font-weight: 500;
  color: #5b5b5b;
}

@media (max-width: 37.5625em) {
  .profile-page__counter p {
    font-size: 14px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.heading--primary {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 48em) {
  .heading--primary {
    font-size: 22px;
  }
}

@media (max-width: 37.5625em) {
  .heading--primary {
    font-size: 20px;
  }
}

@media (max-width: 37.5625em) {
  .heading--primary {
    font-size: 18px;
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
}

.profile--post .profile__name {
  font-size: 15px;
}

@media (max-width: 37.5625em) {
  .profile--post .profile__name {
    font-size: 12px;
  }
}

.profile--post .profile__username {
  font-size: 14px;
}

@media (max-width: 37.5625em) {
  .profile--post .profile__username {
    font-size: 12px;
  }
}

.profile--large .profile__name {
  font-size: 25px;
}

@media (max-width: 48em) {
  .profile--large .profile__name {
    font-size: 23px;
  }
}

.profile--large .profile__username {
  font-size: 18px;
}

@media (max-width: 48em) {
  .profile--large .profile__username {
    font-size: 16px;
  }
}

.profile__name {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

@media (max-width: 79em) {
  .profile__name {
    font-size: 16px;
  }
}

.profile__username {
  font-family: "Roboto", sans-serif;
  color: #5b5b5b;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.btn--primary {
  background-color: #fff8e9;
  color: #fdb813;
  padding: 5px 30px;
  border-radius: 8px;
  font-weight: 600;
}

@media (max-width: 48em) {
  .btn--primary {
    font-size: 14px;
    border-radius: 6px;
  }
}

@media (max-width: 37.5625em) {
  .btn--primary {
    font-size: 12px;
    padding: 5px 20px;
  }
}

.btn--primary:hover {
  background-color: #fff0d0;
}

.btn--primary__active {
  background-color: #fdb813 !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.btn--primary__active:hover {
  background-color: #fdc02c !important;
}

.btn--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: transparent;
}

.btn--icon__count {
  position: absolute;
  right: 2px;
  top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  background: #fdb813;
  border-radius: 100%;
  z-index: 2;
}

@media (max-width: 37.5625em) {
  .btn--icon__count {
    top: 0;
    right: 0;
  }
}

.btn--icon svg {
  position: relative;
  height: 34px;
  width: 34px;
  z-index: 1;
}

@media (max-width: 37.5625em) {
  .btn--icon svg {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 23.4375em) {
  .btn--icon svg {
    height: 25px;
    width: 25px;
  }
}

.btn--icon__background {
  height: 50px;
  width: 50px;
}

.btn--icon__background::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(210, 210, 210, 0.3);
}

.btn--icon__background svg {
  fill: #5b5b5b;
  height: 25px !important;
  width: 25px !important;
}

.btn--icon__background:hover::after {
  background-color: #fff8e9;
}

.btn--icon__background:hover svg {
  fill: #fdb813;
}

.btn--secondary {
  padding: 5px 10px;
}

@media (max-width: 37.5625em) {
  .btn--secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 37.5625em) {
  .btn--secondary {
    padding: 5px 8px;
  }
}

.btn--secondary:hover .btn--secondary__icon svg {
  fill: #fdb813;
}

.btn--secondary__icon svg {
  fill: #d2d2d2;
  height: 25px;
  width: 25px;
}

@media (max-width: 23.4375em) {
  .btn--secondary__icon {
    margin-bottom: -4px;
  }
  .btn--secondary__icon svg {
    height: 20px;
    width: 20px;
  }
}

.btn--secondary__numbers {
  font-weight: 500;
  font-size: 13px;
  color: #5b5b5b;
}

@media (max-width: 37.5625em) {
  .btn--secondary__numbers {
    margin-left: 8px;
  }
}

.btn--create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #5b5b5b;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

@media (max-width: 37.5625em) {
  .btn--create {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 23.4375em) {
  .btn--create {
    font-size: 12px;
    padding: 6px 12px;
  }
}

.btn--create:hover {
  background-color: #ebebeb;
}

.btn--create svg {
  height: 24px;
  fill: #5b5b5b !important;
}

@media (max-width: 37.5625em) {
  .btn--create svg {
    height: 22px;
  }
}

.btn--fab {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 70px;
  bottom: 30px;
  right: 30px;
  border-radius: 100%;
  background-color: #fdb813;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 37.5625em) {
  .btn--fab {
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 23.4375em) {
  .btn--fab {
    bottom: 70px;
    height: 55px;
    width: 55px;
  }
}

.btn--fab svg {
  height: 30px;
  fill: #fff;
}

@media (max-width: 37.5625em) {
  .btn--fab svg {
    height: 25px;
  }
}

.btn--post {
  background-color: #fdb813;
  color: #fff;
  padding: 8px 60px;
  border-radius: 5px;
}

@media (max-width: 23.4375em) {
  .btn--post {
    font-size: 14px;
    padding: 8px 50px;
  }
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;
}

.input--primary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  width: 450px;
  overflow: hidden;
  border-radius: 100px;
  color: #c6c6c6;
  padding-left: 35px;
  font-size: 17px;
}

@media (max-width: 79em) {
  .input--primary {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 400px;
  }
}

@media (max-width: 56.25em) {
  .input--primary {
    width: 380px;
  }
}

@media (max-width: 37.5625em) {
  .input--primary {
    width: 300px;
  }
}

@media (max-width: 23.4375em) {
  .input--primary {
    width: 220px;
  }
}

.input--primary__field {
  padding: 9px 18px;
  color: #000000;
}

@media (max-width: 56.25em) {
  .input--primary__field {
    padding: 8px 10px;
  }
}

@media (max-width: 56.25em) {
  .input--primary__field {
    font-size: 14px;
    padding: 7px 8px;
  }
}

.input--primary::-webkit-input-placeholder {
  color: #c6c6c6;
}

.input--primary:-ms-input-placeholder {
  color: #c6c6c6;
}

.input--primary::-ms-input-placeholder {
  color: #c6c6c6;
}

.input--primary::placeholder {
  color: #c6c6c6;
}

.input--primary__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input--primary__icon svg {
  fill: #c6c6c6;
  height: 24px;
  width: 24px;
}

@media (max-width: 56.25em) {
  .input--primary__icon {
    left: 15px;
  }
  .input--primary__icon svg {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 37.5625em) {
  .input--primary__icon svg {
    height: 18px;
    width: 18px;
  }
}

.input--comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 10px;
  border-radius: 10px;
}

.input--comment .profile-image {
  height: 35px;
  width: 35px;
  min-width: 35px;
}

.input--comment .profile-image__main {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

.input--comment input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 14px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.input--comment button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 35px;
  min-width: 35px;
  border-radius: 100%;
  background-color: #d2d2d2;
}

.input--comment button svg {
  fill: #000000;
  height: 20px;
  width: 20px;
}

.input--comment button:hover {
  background: #fdb813 !important;
}

.input--comment button:hover svg {
  fill: #fff;
}

.input--secondary {
  background-color: #f1f1f1;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 150px;
  padding: 9px 18px;
  color: #000000;
  border-radius: 5px;
}

@media (max-width: 37.5625em) {
  .input--secondary {
    font-size: 14px;
    padding: 8px 15px;
  }
}

.input--secondary::-webkit-input-placeholder {
  color: #c6c6c6;
}

.input--secondary:-ms-input-placeholder {
  color: #c6c6c6;
}

.input--secondary::-ms-input-placeholder {
  color: #c6c6c6;
}

.input--secondary::placeholder {
  color: #c6c6c6;
}

.icon {
  fill: #808080;
  color: #808080;
}

.icon--profile svg {
  height: 28px !important;
  width: 28px !important;
}

.icon--place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff8e9;
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 100%;
}

.icon--place svg {
  fill: #fdb813;
  height: 20px;
  width: 20px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */