$font-heading: "Poppins", sans-serif;
$font-regular: "Roboto", sans-serif;

$primary-color: #fdb813;
$primary-color-subtle: #fff8e9;

$secondary-color: #fff;
$secondary-color-darker: #d2d2d2;
$secondary-color-text: #000000;
$secondary-color-text-light: #5b5b5b;

$input-background-color: #f1f1f1;
$input-placeholder-color: #c6c6c6;

$icon-color: #808080;
$navbar-height: 80px;
$sidebar-width: 320px;
$content-width: 750px;
$border-separation: 1px solid rgba($secondary-color-text, 0.05);
